benchmark-cpuid-rseq
benchmark-cpuid-rseq-lazy
benchmark-cpuid-baseline
benchmark-cpuid-glibc-getcpu
benchmark-cpuid-inline-getcpu
benchmark-cpuid-syscall
benchmark-cpuid-gs
benchmark-rseq
example-rseq-cpuid
example-rseq-cpuid-lazy
test-rseq-cpuid
rseq.so
